@charset "utf-8";
/* CSS Document */

body {
	background-color: #BBBABA;
}

/* Front Page */

.div-menu-icon {
	display: inline-flex;
	position: absolute;
	top: 20px;
	right: 20px;
}

.menu-icon.material-icons-round {
	color: whitesmoke;
	transition: transform 1.5s;
	font-size: 3em;
}

.menu-icon:hover {
	cursor: pointer;
	transform: rotate(180deg);
}

/* Content */

.content {
	background-color: white;
	width: 80%;
	height: auto;
	margin-left: 10%;
	margin-top: 25px;
}

.contact-text-container {
	background-color: slategray;
	display: inline-block;
	border: solid 1px black;
	padding: 0px 10px;
	margin-left: 5%;
	margin-top: 10px;
	font-family: Arial, Helvetica, Gotham;
	font-style: bolder;
}

/* Project */

.project-list {
	list-style-type: none;
	magin: 0px;
	padding: 0px;
	float: left;
}

.project-list-item {
	background-color: white;
	border-radius: 15px;
	display: inline-block;
	border: black solid 1px;
	margin: -1px 9px;
	height: 250px;
	width: 250px;
	vertical-align: middle;
	overflow: hidden;
}

.project-image {
	display: inline;
	margin: auto;
	width: inherit;
	border-radius: 15px;
	transition: opacity 0.25s;
	transition-timing-function: ease-in-out;
}

.project-title {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;
	margin: 10px;
	position: relative;
	top: 0px;
	transition: top .5s;
	transition-timing-function: ease-out;
}

.project-description {
	display: flex;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: lightslategray;
	font-size: 0.85em;
	text-align: center;
	position: relative;
	top: 0px;
	transition: top .5s;
	transition-timing-function: ease-out;
}

.project-list-item:hover .project-description {
	position: relative;
	top: -205px;
}

.project-list-item:hover .project-image {
	display: inline;
	opacity: 0.1;
}

.project-list-item:hover .project-title {
	position: relative;
	top: -205px;
}

/* Navbar */

.nav-bar {
	background-color: #FF4447;
	display: block;
	height: 58px;
}

.nav-list {
	margin-top: 0px;
	list-style: none;
}

.nav-item {
	display: inline-block;
	padding: 3px 10px;
	border: solid #1F1F1F 2px;
	border-radius: 5px;
    margin: 12px 25px 0px 0px;
	background-color: whitesmoke;
}

.nav-item:hover {
	background-color: #565656;
}

.nav-link {
	color: #1F1F1F;
	text-decoration: none;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

.nav-icon {
	font-size: 24px;
	vertical-align: middle;
	text-align: center;
	padding-right: 8px;
	margin-bottom: 2px;
}

.nav-link:visited {
	color: #1F1F1F;
}

.nav-item:hover .nav-link {
	color: whitesmoke;
}
