@charset "utf-8";
/* CSS Document */

body {
	background-color: dimgray;
}

/* Content */

.content {
	background-color: white;
	width: 80%;
	height: auto;
	margin-left: 10%;
	margin-top: 25px;
}

.contact-text-container {
	background-color: slategray;
	display: inline-block;
	border: solid 1px black;
	padding: 0px 10px;
	margin-left: 5%;
	margin-top: 10px;
	font-family: Arial, Helvetica, Gotham;
	font-style: bolder;
}

/* Project */

.project-list {
	list-style-type: none;
	overflow: hidden;
	magin: 0px;
	padding: 0px;
	float: left;
}

.project-list-item {
	background-color: white;
	border-radius: 15px;
	display: inline-block;
	border: black solid 1px;
	margin: -1px 9px;
	height: 250px;
	width: 250px;
	vertical-align: middle;
}

.project-image {
	display: inline;
	margin: auto;
	width: inherit;
	border-radius: 15px;
}

.project-title {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;
	margin: 10px
}

.project-description {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: lightslategray;
	font-size: 0.85em;
	text-align: center;
	display: none;
}

.project-hr-top {
	display: block;
}

.project-list-item:hover .project-description {
	display: flex;
}

.project-list-item:hover .project-image {
	display: none;
}

.project-list-item:hover .project-hr-top {
	display: none;
}

/* Navbar */

.nav-bar {
	background-color: #FF4447;
	display: block;
	height: 58px;
}

.nav-list {
	margin-top: 0px;
	list-style: none;
}

.nav-item {
	display: inline-block;
	padding: 3px 10px 3px 10px;
	border: solid #1F1F1F 2px;
	border-radius: 5px;
	margin-top: 12px;
	margin-left: 0px;
	margin-right:25px;
	background-color: #E1E1E1;
}

.nav-item:hover {
	background-color: #B4B4B4;
}

.nav-link {
	color: #1F1F1F;
	text-decoration: none;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-weight: bold;
}

.nav-link:visited {
	color: #1F1F1F;
}

