/* Scss Document */
@import url("https://fonts.googleapis.com/css?family=Montserrat:100");
.glitch-title {
  position: relative;
  color: whitesmoke;
  font-size: 3em;
  letter-spacing: 0.25em;
  animation: glitch-skew 1s infinite linear alternate-reverse; }
  .glitch-title::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim 5s infinite linear alternate-reverse; }
  .glitch-title::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: glitch-anim2 1s infinite linear alternate-reverse; }

@keyframes glitch-anim {
  0% {
    clip: rect(52px, 9999px, 23px, 0);
    transform: skew(0.58deg); }
  5% {
    clip: rect(31px, 9999px, 61px, 0);
    transform: skew(0.52deg); }
  10% {
    clip: rect(93px, 9999px, 88px, 0);
    transform: skew(0.79deg); }
  15% {
    clip: rect(11px, 9999px, 58px, 0);
    transform: skew(0.89deg); }
  20% {
    clip: rect(25px, 9999px, 75px, 0);
    transform: skew(0.02deg); }
  25% {
    clip: rect(99px, 9999px, 60px, 0);
    transform: skew(0.1deg); }
  30% {
    clip: rect(73px, 9999px, 38px, 0);
    transform: skew(0.36deg); }
  35% {
    clip: rect(54px, 9999px, 60px, 0);
    transform: skew(0.42deg); }
  40% {
    clip: rect(33px, 9999px, 60px, 0);
    transform: skew(0.07deg); }
  45% {
    clip: rect(14px, 9999px, 54px, 0);
    transform: skew(0.19deg); }
  50% {
    clip: rect(29px, 9999px, 22px, 0);
    transform: skew(0.84deg); }
  55% {
    clip: rect(24px, 9999px, 41px, 0);
    transform: skew(0.85deg); }
  60% {
    clip: rect(7px, 9999px, 54px, 0);
    transform: skew(0.18deg); }
  65% {
    clip: rect(39px, 9999px, 74px, 0);
    transform: skew(0.24deg); }
  70% {
    clip: rect(8px, 9999px, 54px, 0);
    transform: skew(0.98deg); }
  75% {
    clip: rect(1px, 9999px, 32px, 0);
    transform: skew(0.49deg); }
  80% {
    clip: rect(12px, 9999px, 77px, 0);
    transform: skew(0.1deg); }
  85% {
    clip: rect(26px, 9999px, 11px, 0);
    transform: skew(0.23deg); }
  90% {
    clip: rect(77px, 9999px, 18px, 0);
    transform: skew(0.57deg); }
  95% {
    clip: rect(20px, 9999px, 71px, 0);
    transform: skew(0.6deg); }
  100% {
    clip: rect(20px, 9999px, 34px, 0);
    transform: skew(0.65deg); } }
@keyframes glitch-anim2 {
  0% {
    clip: rect(20px, 9999px, 65px, 0);
    transform: skew(0.26deg); }
  5% {
    clip: rect(63px, 9999px, 15px, 0);
    transform: skew(0.88deg); }
  10% {
    clip: rect(79px, 9999px, 64px, 0);
    transform: skew(0.18deg); }
  15% {
    clip: rect(25px, 9999px, 92px, 0);
    transform: skew(0.71deg); }
  20% {
    clip: rect(74px, 9999px, 50px, 0);
    transform: skew(0.01deg); }
  25% {
    clip: rect(3px, 9999px, 56px, 0);
    transform: skew(0.34deg); }
  30% {
    clip: rect(12px, 9999px, 20px, 0);
    transform: skew(0.31deg); }
  35% {
    clip: rect(59px, 9999px, 46px, 0);
    transform: skew(0.77deg); }
  40% {
    clip: rect(62px, 9999px, 56px, 0);
    transform: skew(0.13deg); }
  45% {
    clip: rect(52px, 9999px, 51px, 0);
    transform: skew(0.13deg); }
  50% {
    clip: rect(58px, 9999px, 28px, 0);
    transform: skew(0.95deg); }
  55% {
    clip: rect(41px, 9999px, 29px, 0);
    transform: skew(0.75deg); }
  60% {
    clip: rect(100px, 9999px, 69px, 0);
    transform: skew(0.75deg); }
  65% {
    clip: rect(41px, 9999px, 17px, 0);
    transform: skew(0.42deg); }
  70% {
    clip: rect(46px, 9999px, 10px, 0);
    transform: skew(0.98deg); }
  75% {
    clip: rect(63px, 9999px, 63px, 0);
    transform: skew(0.98deg); }
  80% {
    clip: rect(16px, 9999px, 21px, 0);
    transform: skew(0.94deg); }
  85% {
    clip: rect(98px, 9999px, 14px, 0);
    transform: skew(0.68deg); }
  90% {
    clip: rect(92px, 9999px, 65px, 0);
    transform: skew(0.12deg); }
  95% {
    clip: rect(57px, 9999px, 90px, 0);
    transform: skew(0.26deg); }
  100% {
    clip: rect(99px, 9999px, 42px, 0);
    transform: skew(0.57deg); } }
@keyframes glitch-skew {
  0% {
    transform: skew(0.4deg); }
  5% {
    transform: skew(0.27deg); }
  10% {
    transform: skew(0.24deg); }
  15% {
    transform: skew(0.44deg); }
  20% {
    transform: skew(0.02deg); }
  25% {
    transform: skew(0.17deg); }
  30% {
    transform: skew(0.68deg); }
  35% {
    transform: skew(0.17deg); }
  40% {
    transform: skew(0.21deg); }
  45% {
    transform: skew(0.98deg); }
  50% {
    transform: skew(0.91deg); }
  55% {
    transform: skew(0.48deg); }
  60% {
    transform: skew(0.52deg); }
  65% {
    transform: skew(0.11deg); }
  70% {
    transform: skew(0.55deg); }
  75% {
    transform: skew(0.93deg); }
  80% {
    transform: skew(0.19deg); }
  85% {
    transform: skew(0.77deg); }
  90% {
    transform: skew(0.19deg); }
  95% {
    transform: skew(0.08deg); }
  100% {
    transform: skew(0.01deg); } }
