@charset "utf-8";
/* CSS Document */

body,html {
	height: 100%;
	background-color: #3a3b4c;
	background-image: url("images/page-background.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-blend-mode: overlay;
}

/* Front Page */

.menu-icon.material-icons-round {
	color: whitesmoke;
	transition: opacity .2s linear;
	font-size: 3em;
	display: inline-flex;
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 100;
}

.menu-icon:hover {
	cursor: pointer;
	opacity: 0.8;
}

/* Content */

.content {
	background-color: white;
	width: 80%;
	height: auto;
	margin-left: 10%;
	margin-top: 25px;
}

.contact-text-container {
	background-color: slategray;
	display: inline-block;
	border: solid 1px black;
	padding: 0px 10px;
	margin-left: 5%;
	margin-top: 10px;
	font-family: Arial, Helvetica, Gotham;
	font-style: bolder;
}

/* Project */

.project-list {
	list-style-type: none;
	magin: 0px;
	padding: 0px;
	float: left;
}

.project-list-item {
	background-color: white;
	border-radius: 15px;
	display: inline-block;
	border: black solid 1px;
	margin: -1px 9px;
	height: 250px;
	width: 250px;
	vertical-align: middle;
	overflow: hidden;
}

.project-image {
	display: inline;
	margin: auto;
	width: inherit;
	border-radius: 15px;
	transition: opacity 0.25s;
	transition-timing-function: ease-in-out;
}

.project-title {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;
	margin: 10px;
	position: relative;
	top: 0px;
	transition: top .5s;
	transition-timing-function: ease-out;
}

.project-description {
	display: flex;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: lightslategray;
	font-size: 0.85em;
	text-align: center;
	position: relative;
	top: 0px;
	transition: top .5s;
	transition-timing-function: ease-out;
}

.project-list-item:hover .project-description {
	position: relative;
	top: -205px;
}

.project-list-item:hover .project-image {
	display: inline;
	opacity: 0.1;
}

.project-list-item:hover .project-title {
	position: relative;
	top: -205px;
}

/* Navbar */

.nav-bar {
	background-color: #FF4447;
	display: block;
	height: 58px;
}

.nav-list {
	margin-top: 0px;
	list-style: none;
}

.nav-item {
	display: inline-block;
	padding: 3px 10px;
	border: solid #1F1F1F 2px;
	border-radius: 5px;
    margin: 12px 25px 0px 0px;
	background-color: whitesmoke;
}

.nav-item:hover {
	background-color: #565656;
}

.nav-link {
	color: #1F1F1F;
	text-decoration: none;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

.nav-icon {
	font-size: 24px;
	vertical-align: middle;
	text-align: center;
	padding-right: 8px;
	margin-bottom: 2px;
}

.nav-link:visited {
	color: #1F1F1F;
}

.nav-item:hover .nav-link {
	color: whitesmoke;
}

.div-menu {
	background-color: #17181F;
	display: block;
	height: 100%;
	width: 100%;
	opacity: .95;
	overflow: hidden;
	position: relative;
	left: 100%;
}

.menu-nav-icon.material-icons-round {
	color: whitesmoke;
	font-size: 3em;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	vertical-align: middle;
}

.menu-nav-title {
	text-align: center;
	font-family: 'Montserrat', sant-serif;
	color: whitesmoke;
	margin: 50px auto;
	padding: 0;
	position: auto;
	display: block;
	height: 50px;
	width: 100%;
	font-size: 2.5em;
}

.menu-nav-desc {
	text-align: center;
	margin: 0 auto;
	display: inline-block;
	font-family: 'Montserrat', sant-serif;
	color: whitesmoke;
	font-size: 1em;
	font-weight: 600;
}

.div-title {
  height: 95vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.page-title {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sant-serif; 
}

.page-under-title {
  display: inline-flex;
  color: #59B0E1;
  position: relative;
  transition: transform left 1s linear;
  top: -10px;
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: .25em;
  font-family: 'Montserrat', sant-serif;
}

.menu-icon:hover #page-under-title {
	color: red;
	left: -200px;
}
.div-menu-container {
	display: block;
	height: 100%;
	width: 50%;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
}
.menu-list {
	margin-top: 60px;
	list-style: none;
}

.menu-item {
	margin-bottom: 50px;
	margin-left: -50px;
	text-align: center;
}
