<nav class="nav">
	<ul class="nav-list">
		<li class="nav-item">
			<div class="nav-item-div">
				<a class="glitch" data-text="Home" href="Index.html">Home</a>
			</div>
		</li>
		<li class="nav-item">
			<div class="nav-item-div">
				<a class="glitch" data-text="Projects" href="Projects.html">Projects</a>
			</div>
		</li>
		<li class="nav-item">
			<div class="nav-item-div">
				<a class="glitch" data-text="Services" href="Services.html">Services</a>
			</div>
		</li>
		<li class="nav-item">
			<div class="nav-item-div">
				<a class="glitch" data-text="Contact" href="Contact.html">Contact</a>
			</div>
		</li>
		<li class="nav-item">
			<div class="nav-item-div">
				<a class="glitch" data-text="Socials" href="Socials.html">Contact</a>
			</div>
		</li>
	</ul>
</nav>